<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="root.gast.playground"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17" 
        android:targetSdkVersion="18"/>

    <application android:icon="@drawable/icon" 
	    android:label="@string/app_name" 
	    android:logo="@drawable/emptyone"
	    android:allowBackup="true" >
	    <activity android:name=".GastAppActivity"
                  android:label="@string/activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pref.SummarizingEditPreferences"/>

        <!-- a possible destination for the pending intent -->
        
        <activity android:name=".sensor.movement.DetermineMovementActivity"
            android:hardwareAccelerated="false"
            android:label="@string/launchDetermineMovement" />

<!--             
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
 -->

    <receiver 
      android:name="root.gast.speech.tts.LanguageDataInstallBroadcastReceiver">
      <intent-filter>
            <action 
             android:name="android.speech.tts.engine.TTS_DATA_INSTALLED"/>
     </intent-filter>
    </receiver>
        
        <service android:name="root.gast.speech.activation.SpeechActivationService"/>
        
        <service android:name="root.gast.speech.activation.SpeechActivationIntentService"/>

        <receiver android:name=".speech.activation.ShowResultsSpeechActivationBroadcastReceiver">
            <intent-filter >
                <action android:name="root.gast.playground.speech.ACTIVATION"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
